lazy-lock.json
.gnupg/private*
.gnupg/*key*
.config/go/
.config/nvim.backup
.config/nvim.bak.lazy
.config/nvim.prime
.config/nvim/.github
.config/nvim/doc
.config/tmux/plugins
nvim-data
nvim-data
.config/nvim/.github/ISSUE_TEMPLATE/bug_report.md
.config/nvim/.github
.config/claude/
flavors/
